<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Gestion des Événenements</title>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
  <style>
    /* Show dropdown on hover */
    .nav-item.dropdown:hover .dropdown-menu {
      display: block;
    }
  </style>
</head>
<body>
  <!-- <app-navbar [categories]="categories"></app-navbar> -->
  <app-header></app-header>

 
<router-outlet></router-outlet>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

