You can add global styles to this file, and also import other style files
body 
{
/* background-image: ("./app/bg1.png"); */
background-color: aquamarine;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}